:root {
    --black: #000000;
    --black-2: #232323;
    --gray: #4f5254;
    --white: #ffffff;
    --white-2: #e1e1d8;
    --teal: teal;
    --ocean: #a1c2c0;
    --ocean-2: #719e9c;
    --blue-2: #7b95bd;

}

#btn-theme {
    background-color: var(--gray);
    color: var(--white-2);
}

body {
    margin: 0;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
}
.dark-theme {
    background-color:var(--black);
    color:var(--white);
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color:var(--white);
    color: var(--white-2);

}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
   
}
.navbar-brand{
    padding-left: 3%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
    padding: 1% 5%;
}
.navbar a {
    text-decoration: none;
    letter-spacing: 3px;
    color: var(--black);
}

.nav-links li {
    list-style-type: none;
    
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--black);
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:820px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}